<div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-education-image"></div>
        <mat-card-title class="textCenter">Education</mat-card-title>
      </mat-card-header>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Bachelor's Degree</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <p>I have done bachelor's degree in Computer Engineering From Gujarat Technological University at Om Engineering College.</p>
                <mat-divider></mat-divider>
                <div mat-card-avatar class="header-calender-image"></div>
                <mat-card-title class="textCenter">06/2013 - 06/2017 </mat-card-title>
                <div mat-card-avatar class="cgpa-image"></div>
                <mat-card-title class="textCenter">7.35 CGPA</mat-card-title>
            </div>
          </div>
      </div>
    </mat-card>
</div>
