 <div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-education-image"></div>
        <mat-card-title class="textCenter">Education</mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <mat-card class="submat-card">
          <mat-card-title class="textCenter">Bachelor's Degree </mat-card-title>
            <mat-divider></mat-divider>

          <mat-card-title><P class="textLft">I have done bachelor's degree in Computer Engineering From Gujarat Technological University at Om Engineering College.</P></mat-card-title>
              <div mat-card-avatar class="header-calender-image"></div>
              <mat-card-title class="textCenter">06/2013 - 06/2017 </mat-card-title>
              <mat-card-header>
                <div mat-card-avatar class="cgpa-image"></div>
                <mat-card-title class="textCenter">7.35 CGPA</mat-card-title>
              </mat-card-header>

        </mat-card>

      </mat-card-actions>
    </mat-card>
</div>
