<div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-education-image"></div>
        <mat-card-title class="textCenter">Education</mat-card-title>
      </mat-card-header>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Bachelor's Degree</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <p>I have done bachelor's degree in Computer Engineering From Gujarat Technological University at Om Engineering College.</p>
                <mat-divider></mat-divider>
                      <div class="card-footer"></div>

                <div class="col-lg-12 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                            <div mat-card-avatar class="header-calender-image"></div>
                          </div>
                            <P class="card-category textLft">06/2013 - 06/2017</P>
                      </div>
                      <div class="card-footer"></div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                            <div mat-card-avatar class="cgpa-image"></div>
                          </div>
                            <P class="card-category textLft">7.35 CGPA</P>
                      </div>
                      <div class="card-footer"></div>
                  </div>
                </div>

            </div>
          </div>
      </div>
    </mat-card>
</div>
