 <div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-technical-image"></div>
        <mat-card-title class="textCenter">Technicalskills & Tools</mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <mat-card class="submat-card">
          <mat-card-title>JavaScript Frameworks</mat-card-title>
          <button mat-raised-button class="button-setting">NodeJs</button>
          <button mat-raised-button class="button-setting">NestJs</button>
          <button mat-raised-button class="button-setting">ExpressJS</button>
          <!-- <button mat-raised-button class="button-setting">Angular</button> -->
        </mat-card>
      </mat-card-actions>

      <mat-card-actions>
        <mat-card class="submat-card">
          <mat-card-title>Web Design</mat-card-title>
          <button mat-raised-button class="button-setting">HTML</button>
          <button mat-raised-button class="button-setting">SCSS</button>
          <button mat-raised-button class="button-setting">Material-UI</button>
        </mat-card>
      </mat-card-actions>

      <mat-card-actions>
        <mat-card class="submat-card">
          <mat-card-title>Database</mat-card-title>
          <button mat-raised-button class="button-setting">MongoDB</button>
          <button mat-raised-button class="button-setting">PostgreSQL</button>
          <button mat-raised-button class="button-setting">MySQL</button><br><br>
          <button mat-raised-button class="button-setting">ODM : MongooseJS</button>
          <button mat-raised-button class="button-setting">ORM : Squelize</button>
        </mat-card>
      </mat-card-actions>

      <mat-card-actions>
        <mat-card class="submat-card">
          <mat-card-title>Others</mat-card-title>
          <button mat-raised-button class="button-setting">Package Manager : npm</button> <br><br>
          <button mat-raised-button class="button-setting">Project Management : Github, Tara, Git, Bitbucket</button> <br><br>
          <button mat-raised-button class="button-setting">Services : Serverless + awsLambda + apiGatway + Auth0</button> <br><br>
          <button mat-raised-button class="button-setting">Tools : Postman + Swagger UI + VSCode</button> <br><br>
          <button mat-raised-button class="button-setting">Oprating System : Ubuntu + Windows </button>
        </mat-card>
      </mat-card-actions>

    </mat-card>
</div>
