<mat-dialog-content class="mat-typography">
  <div class="card-wrapper">
     <mat-card class="profileCard">
       <mat-card-header>
         <div mat-card-avatar class="header-technical-image"></div>
         <mat-card-title class="textCenter">Technicalskills & Tools</mat-card-title>
       </mat-card-header>
 
       <div class="col-md-12">
         <div class="card">
             <div class="card-header card-header-info">
                 <h4 class="card-title">JavaScript Frameworks</h4>
             </div><br>
             <div class="card-body">
                   <p>NodeJs</p>
                   <p>NestJs</p>
                   <p>ExpressJS</p>
                   <p>Angular</p>
             </div>
           </div>
       </div>
 
       <div class="col-md-12">
         <div class="card">
             <div class="card-header card-header-info">
                 <h4 class="card-title">Web Design</h4>
             </div><br>
             <div class="card-body">
                 <p>HTML</p>
                 <p>SCSS</p>
                 <p>Material-UI</p>
             </div>
           </div>
       </div>
 
       <div class="col-md-12">
         <div class="card">
             <div class="card-header card-header-info">
                 <h4 class="card-title">Database</h4>
             </div><br>
             <div class="card-body">
                   <p>MongoDB</p>
                   <p>PostgreSQL</p>
                   <p>ODM : MongooseJS</p>
                   <p>ORM : Squelize</p>
             </div>
           </div>
       </div>
 
       <div class="col-md-12">
         <div class="card">
             <div class="card-header card-header-info">
                 <h4 class="card-title">Others</h4>
             </div><br>
             <div class="card-body">
                   <p>Package Manager : npm</p>
                   <p>Project Management : Github, Tara, Git, Bitbucket</p>
                   <p>Services : Serverless + awsLambda + apiGatway + Auth0</p>
                   <p>Tools : Postman + Swagger UI + VSCode</p>
                   <p>Oprating System : Ubuntu + Windows</p>
 
             </div>
           </div>
       </div>
 
     </mat-card>
 </div>
</mat-dialog-content>