 <div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-technical-image"></div>
        <mat-card-title class="textCenter">Technicalskills & Tools</mat-card-title>
      </mat-card-header>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">JavaScript Frameworks</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">NodeJs</button>
                  </div>
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">NestJs</button>
                  </div>
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">ExpressJS</button>
                  </div>
                </div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Web Design</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">HTML</button>
                  </div>
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">SCSS</button>
                  </div>
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">Material-UI</button>
                  </div>
                </div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Database</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">MongoDB</button>
                  </div>
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">SCSS</button>
                  </div>
                  <div class="col-md-4">
                    <button mat-raised-button class="button-setting">PostgreSQL</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <button mat-raised-button class="button-setting">ODM : MongooseJS</button>
                  </div>
                  <div class="col-md-6">
                    <button mat-raised-button class="button-setting">ORM : Squelize</button>
                  </div>
                </div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Others</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <div class="row">
                  <button mat-raised-button class="button-setting">Package Manager : npm</button>
                </div>
                <div class="row">
                  <button mat-raised-button class="button-setting">Project Management : Github, Tara, Git, Bitbucket</button>
                </div>
                <div class="row">
                  <button mat-raised-button class="button-setting">Services : Serverless + awsLambda + apiGatway + Auth0</button>
                </div>
                <div class="row">
                  <button mat-raised-button class="button-setting">Tools : Postman + Swagger UI + VSCode</button>
                </div>
                <div class="row">
                  <button mat-raised-button class="button-setting">Oprating System : Ubuntu + Windows</button>
                </div>
            </div>
          </div>
      </div>
    </mat-card>
</div>
