 <div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-project-image"></div>
        <mat-card-title class="textCenter">Projects</mat-card-title>
      </mat-card-header>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">User Authentication</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <p>It is built using NodeJS, ExpressJS, MongoDB, Mongoose JS, postgreSQL, sequelize, SMTP, JWT authentication.</p>
                <mat-divider></mat-divider>
                  <p>User Signup via Email || Phone || Social Signup with google+ , fackbook, truecallar ( OTP )</p>
                  <p>User Login</p>
                  <p>Forgot Password via Email || Phone</p>
                  <p>Reset Password</p>
                  <p>Change Password</p>
            </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">NodeJS Rest-api & Restful api Structure</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <p>One of the most popular types of API is REST or, as they're sometimes known, RESTful APIs. REST or RESTful APIs were designed to take advantage of existing protocols. While REST - or Representational State Transfer - can be used over nearly any protocol, when used for web APIs it typically takes advantage of HTTP.</p>
                <mat-divider></mat-divider>
                <p> Nodejs & Nestjs</p> 
                <p> ExpressJS framework</p>
                <p> MongoDB as Database, Connection via MongooseJS</p>
                <p> PostgreSQL as Database Connection via sequelize ORM</p>
                <p> Encryption and decryption of the data and the data is shared between the receiver and sender of encrypted data. The public key is used to encrypt data and to decrypt the data, the private key is used and is shared.<p>
                <p> Code Compiling with Babel </p>
                <p> Custom Middleware for Authentication JWT IO & Role Based Authorization </p>
                <p> Request Validator Custom Middleware joi<p>  
                <p> SMTP Service for OTP Send & Verify</p>
                <p> File Upload aws s3 System via Multer Configuration </p>
                <p> Code Formatting with Prettie <p>
            </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Nodejs || Nestjs || Aws || Postgresql + MongoDB || serverless + awsLambda + apiGatway + MongoDB atlas</h4>
                <!-- <p class="card-category">06/2018 To 08/2018</p> -->
            </div>
            <div class="card-body">
                <p>It is built using Nodejs, Nestjs, ExpressJs, MongoDB, PostgreSQL, Sequelize, SMTP, JWT authentication.</p>
                <mat-divider></mat-divider>
                  <p> I have done in Nestjs framework User Signup via Email || Phone || Social Signup with google+ , fackbook, truecallar ( OTP )</p>
                  <p> User Login, Forgot Password via Email || Phone, Reset Password & Change Password</p>
                  <p> I have done demo backend application Nodejs + serverless + awsLambda + gitHub CI/CD </p>
                  <p> I have done demo backend application Nodejs and Nestjs with MongoDB & PostgreSQL Database</p>
                  <p> Done CRUD application in Nestjs with Sqlite-Swagger </p>
                  <p> I have done CRUD application in Nodejs with MySQL Database </p>
            </div>
          </div>
      </div>

    </mat-card>
</div>
