<div class="card-wrapper">
    <mat-card class="profileCard">
        
        <mat-card-header class="matCenter">
            <div mat-card-avatar class="header-connect-image"></div>
            <mat-card-title class="textCenter">Connect Via</mat-card-title>
        </mat-card-header>

        <mat-card-actions> 

            <mat-card class="submat-gmail-card" (click)="onNavigateGmail()">
                <mat-card-header class="matCenter">
                    <div mat-card-avatar class="gmail-image"></div>
                    <mat-card-title class="textCenter">Gmail</mat-card-title>
                </mat-card-header>
            </mat-card>

            <mat-card class="submat-github-card" (click)="onNavigateGitHub()">
                <mat-card-header class="matCenter">
                    <div mat-card-avatar class="github-image"></div>
                    <mat-card-title class="textCenter">GitHub</mat-card-title>
                </mat-card-header>
            </mat-card>

            <mat-card class="submat-linkedin-card" (click)="onNavigateLinkedIn()">
                <mat-card-header class="matCenter">
                    <div mat-card-avatar class="linkedin-image"></div>
                    <mat-card-title class="textCenter">LinkedIn</mat-card-title>
                </mat-card-header>
            </mat-card>

            <mat-card class="submat-twitter-card" (click)="onNavigateTwitter()">
                <mat-card-header class="matCenter">
                    <div mat-card-avatar class="twitter-image"></div>
                    <mat-card-title class="textCenter">Twitter</mat-card-title>
                </mat-card-header>
            </mat-card>

            <mat-card class="submat-skype-card" (click)="onNavigateSkype()">
                <mat-card-header class="matCenter">
                    <div mat-card-avatar class="skype-image"></div>
                    <mat-card-title class="textCenter">Skype</mat-card-title>
                </mat-card-header>
            </mat-card>
            
        </mat-card-actions>
    </mat-card>
</div>