<div class="card-wrapper">
    <mat-card class="profileCard">
         <mat-card-header class="matCenter">
            <div mat-card-avatar class="header-connect-image"></div>
            <mat-card-title class="textCenter">Connect Via</mat-card-title>
        </mat-card-header>

        <div class="col-lg-12 col-md-6 col-sm-6" (click)="onNavigateGmail()">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-envelope-square"></i>
                    </div>
                    <p class="card-category">singhsantosh.edu.in@gmail.com</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-6" (click)="onNavigateGitHub()">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-github"></i>
                    </div>
                    <p class="card-category">singhsantosh-ss</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-6" (click)="onNavigateLinkedIn()">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-linkedin"></i>
                    </div>
                    <p class="card-category">LinkedIn</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-6" (click)="onNavigateTwitter()">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <p class="card-category">@ssinghsantosh</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-6" (click)="onNavigateSkype()">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-skype"></i>
                    </div>
                    <p class="card-category">singhsantosh.edu.in</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </mat-card>
</div>