p {
  font-family: "Times New Roman", Times, serif;
}

.example-card {
  max-width: 100px;
}

.header-image {
  background-image: url('../assets/images/santoshsingh.jpeg');
  background-size: cover;
  shape-image-threshold: initial;
}

.card-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.subcard-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.profileCard {
  width: 400px;
  margin: 0 auto;
  background-color: whitesmoke
}

.submat-card {
  width: 380px;
  margin: 0 auto;
  background-color: white;
  margin-top: 4px;
  text-align: center;
}

.intro {
    text-align: center;
  }
  .h1 {
    margin: 0;
  }
  .mat-error {
    color: black !important;
  }
  
  .mat-form-field-invalid .mat-input-element,
  .mat-warn .mat-input-element {
    caret-color: black !important;
  }
  
  .auth0-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btnForgetPwd {
    color: #222d32;
    background-color:black;
    font-weight: 600;
    text-decoration: none;
    margin: 135px 13px 115px 12px;
    position: relative;
    top: 17px;
  }

  button.login-button {
    width: 100%;
  }
  button.submit-button {
    width: 100%;
  }
  .mat-form-field {
    width: 100%;
    padding-top: 0%;
  }
  .model-icon-error {
    display: initial !important;
    font-size: 3rem;
  }
  .forgot-pass-link {
    cursor: pointer;
    font-size: 0.85rem;
    color: #626262;
  }
  .forgot-email-field {
    width: 100%;
    padding-top: 10px;
  }
  .label{
    text-shadow: #222d32;
  }

.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
