<div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Santosh Singh (Software Engineer)</mat-card-title>
        <mat-card-subtitle><P>E-mail-: singhsantosh.edu.in@gmail.com<br>Phone-: +91-9429929149</P></mat-card-subtitle>
      </mat-card-header>

      <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-info btn-block" (click)="openDialogAboutMe()">about me</button>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-info btn-block" (click)="openDialogConnectVia()">Connect Via</button>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-info btn-block" (click)="openDialogworkExperience()">WORK EXPERIENCE</button>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button class="btn btn-info btn-block" (click)="openDialogworkProjects()">POJECTS</button>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-info btn-block" (click)="openDialogworkEducation()">EDUCATION</button>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-info btn-block" (click)="openDialogworkTechnicalSkills()">TECHNICAL SKILLS</button>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="btn btn-info btn-block" >OTHERS</button>
        </div>
      </div>
    </mat-card>
</div>

<router-outlet></router-outlet>
