
<div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Santosh Singh(Software Engineer)</mat-card-title>
        <mat-card-subtitle>E-mail-:singhsantosh.edu.in@gmail.com<br>Phone-: +91-9429929149</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <mat-card class="submat-card" (click)="openDialog()">
          <mat-card-title>Connnect Via</mat-card-title>
        </mat-card>

        <mat-card class="submat-card">
          <mat-card-title>About Me</mat-card-title>
        </mat-card>

        <mat-card class="submat-card">
          <mat-card-title>Work Experience</mat-card-title>
        </mat-card>

        <mat-card class="submat-card">
          <mat-card-title>Pojects</mat-card-title>
        </mat-card>

        <mat-card class="submat-card">
          <mat-card-title>Education</mat-card-title>
        </mat-card>

        <mat-card class="submat-card">
          <mat-card-title>Technical Skills</mat-card-title>
        </mat-card>

        <mat-card class="submat-card">
          <mat-card-title>Others</mat-card-title>
        </mat-card>

      </mat-card-actions>

    </mat-card>
  
  
</div>

<router-outlet></router-outlet>
