 <div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header class="matCenter">
        <div mat-card-avatar class="header-experince-image"></div>
        <mat-card-title class="textCenter"> Work Experience</mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <mat-card class="submat-card">    
          <mat-card-title class="textCenter"> Tamasha(GamePe technologies Pvt. Ltd.)</mat-card-title>
            <mat-divider></mat-divider>
          <mat-card-title><P>Here I'm working as senior backend Nodejs developer. </P></mat-card-title>
            <mat-divider></mat-divider>
            <br>
          <div>
            <mat-grid-list cols="4" rowHeight="1:1">
              <mat-grid-tile class="nodejs"></mat-grid-tile>
              <mat-grid-tile class="aws"></mat-grid-tile>
              <mat-grid-tile class="postgresql"></mat-grid-tile>
              <mat-grid-tile class="github"></mat-grid-tile>
            </mat-grid-list>
          </div> 
        </mat-card>
      </mat-card-actions>

      <mat-card-actions>
        <mat-card class="submat-card">    
          <mat-card-title class="textCenter"> Io-market software services Pvt. Ltd. </mat-card-title>
            <mat-divider></mat-divider>
          <mat-card-title><P>There I was worked as junior backend Nodejs developer. In-depth knowledge of Node.Js, Nest.Js, Express.Js with PostgreSQL and MongoDB.
              I have knowledge of ES/6, JavaScript, TypeScript, Docker, Redis with RESTful api.</P></mat-card-title>
        </mat-card>
      </mat-card-actions>


      <mat-card-actions>
        <mat-card class="submat-card">    
          <mat-card-title class="textCenter"> DOT Infotech </mat-card-title>
            <mat-divider></mat-divider>
          <mat-card-title><P>There I was worked as junior backend Nodejs developer.</P></mat-card-title>
        </mat-card>
      </mat-card-actions>


      <mat-card-actions>
        <mat-card class="submat-card">    
          <mat-card-title class="textCenter">Technorex software </mat-card-title>
            <mat-divider></mat-divider>
          <mat-card-title><P>There I was worked as junior backend Nodejs developer.</P></mat-card-title>
        </mat-card>
      </mat-card-actions>

    </mat-card>
</div>