
<mat-dialog-content class="mat-typography">
    <div class="card-wrapper">
       <mat-card class="profileCard">
         <mat-card-header class="matCenter">
           <div mat-card-avatar class="header-experince-image"></div>
           <mat-card-title class="textCenter"> Work Experience</mat-card-title>
         </mat-card-header>
   
         <div class="col-md-12">
             <div class="card">
                 <div class="card-header card-header-info">
                     <h4 class="card-title">Tamasha(GamePe Technologies Pvt. Ltd.)</h4>
                        <div class="col-md-12">
                            <button mat-raised-button class="btn btn-denger btn-block">11/2020 - Prasent</button>
                        </div>
                 </div>
                 <div class="card-body">
                     <p>Here I'm working as senior backend Nodejs developer.</p><br>
   
                           <div class="col-md-12">
                               <div class="card-header card-header-info card-header-icon" style="margin-left: 5px;">
                                   <div class="card-icon">
                                       <i class="fab fa-github"></i>
                                       <i class='fab fa-aws'></i>
                                       <i class="fab fa-node"></i>
                                       <i class="fa fa-database" aria-hidden="true"></i>
                                   </div>
                               </div>
                           </div>
                   <div class="card-footer"></div>
                 </div>
   
             </div>
         </div>
   
         <div class="col-md-12">
             <div class="card">
                 <div class="card-header card-header-info">
                     <h4 class="card-title">Io-market software services Pvt. Ltd.</h4>
                     <div class="col-md-12">
                        <button mat-raised-button class="btn btn-denger btn-block">10/2019 - 10/2020</button>
                    </div>
                 </div>
                 <div class="card-body">
                     <p>There I was worked as junior backend Nodejs developer. In-depth knowledge of Node.Js, Nest.Js, Express.Js with PostgreSQL and MongoDB.
                 I have knowledge of ES/6, JavaScript, TypeScript, Docker, Redis with RESTful api.</p><br>
                           <div class="col-md-12">
                               <div class="card-header card-header-info card-header-icon" style="margin-left: 5px;">
                                   <div class="card-icon">
                                       <i class="fab fa-github"></i>
                                       <i class='fab fa-aws'></i>
                                       <i class="fab fa-node"></i>
                                       <i class="fa fa-database" aria-hidden="true"></i>
                                   </div>
                               </div>
                           </div>
                   <div class="card-footer"></div>
   
                 </div>
   
             </div>
         </div>
   
         <div class="col-md-12">
             <div class="card">
                 <div class="card-header card-header-info">
                     <h4 class="card-title">DOT Infotech</h4>
                     <div class="col-md-12">
                        <button mat-raised-button class="btn btn-denger btn-block">06/2018 - 08/2018</button>
                    </div>
                 </div>
                 <div class="card-body">
                     <p>There I was worked as junior backend Nodejs developer & as php developer. working in Node.Js, Express.Js, and mongoDB in RESTful api with ES/6.</p><br>
                           <div class="col-md-12">
                               <div class="card-header card-header-info card-header-icon" style="margin-left: 5px;">
                                   <div class="card-icon">
                                       <i class="fab fa-github"></i>
                                       <i class="fab fa-php"></i>
                                       <i class='fab fa-aws'></i>
                                       <i class="fab fa-node"></i>
                                       <i class="fa fa-database" aria-hidden="true"></i>
                                   </div>
                               </div>
                           </div>
                   <div class="card-footer"></div>
                 </div>
   
             </div>
         </div>
   
         <div class="col-md-12">
           <div class="card">
               <div class="card-header card-header-info">
                   <h4 class="card-title">Technorex Software</h4>
                    <div class="col-md-12">
                        <button mat-raised-button class="btn btn-denger btn-block">06/2018 - 08/2018</button>
                    </div>
               </div>
               <div class="card-body">
                   <p>There I was worked as Trainee junior backend Nodejs developer. Understanding the basic concept of OOPs and PHP. Learn MVC structure of PHP and MySQL database.</p><br>
                           <div class="col-md-12">
                               <div class="card-header card-header-info card-header-icon" style="margin-left: 5px;">
                                   <div class="card-icon">
                                       <i class="fab fa-github"></i>
                                       <i class="fab fa-php"></i>
                                       <i class='fab fa-aws'></i>
                                       <i class="fa fa-database" aria-hidden="true"></i>
                                   </div>
                               </div>
                           </div>
                   <div class="card-footer"></div>
   
               </div>
             </div>
         </div>
         
       </mat-card>
   </div>

</mat-dialog-content>