 <div class="card-wrapper">
    <mat-card class="profileCard">
      <mat-card-header class="matCenter">
        <div mat-card-avatar class="header-experince-image"></div>
        <mat-card-title class="textCenter"> Work Experience</mat-card-title>
      </mat-card-header>

      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-info">
                  <h4 class="card-title">Tamasha(GamePe Technologies Pvt. Ltd.)</h4>
                  <p class="card-category">11/2020 To Prasent</p>
              </div>
              <div class="card-body">
                  <p>Here I'm working as senior backend Nodejs developer.</p>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-md-4">
                      <!-- <div class="card-avatar">
                          <a href="javascript:void(0)">
                              <img class="img" src="../../assets/images/Nodejs.png"/>
                          </a>
                      </div> -->
                    </div>

                  </div>
              </div>

          </div>
      </div>

      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-info">
                  <h4 class="card-title">Io-market software services Pvt. Ltd.</h4>
                  <p class="card-category">10/2019 To 10/2020</p>
              </div>
              <div class="card-body">
                  <p>There I was worked as junior backend Nodejs developer. In-depth knowledge of Node.Js, Nest.Js, Express.Js with PostgreSQL and MongoDB.
              I have knowledge of ES/6, JavaScript, TypeScript, Docker, Redis with RESTful api.</p>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-md-4">
                      <!-- <div class="card-avatar">
                          <a href="javascript:void(0)">
                              <img class="img" src="../../assets/images/Nodejs.png"/>
                          </a>
                      </div> -->
                    </div>

                  </div>
              </div>

          </div>
      </div>

      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-info">
                  <h4 class="card-title">DOT Infotech</h4>
                  <p class="card-category">06/2018 To 08/2018 </p>
              </div>
              <div class="card-body">
                  <p>There I was worked as junior backend Nodejs developer & as php developer. working in Node.Js, Express.Js, and mongoDB in RESTful api with ES/6.</p>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-md-4">
                      <!-- <div class="card-avatar">
                          <a href="javascript:void(0)">
                              <img class="img" src="../../assets/images/Nodejs.png"/>
                          </a>
                      </div> -->
                    </div>

                  </div>
              </div>

          </div>
      </div>

      <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Technorex Software</h4>
                <p class="card-category">06/2018 To 08/2018</p>
            </div>
            <div class="card-body">
                <p>There I was worked as Trainee junior backend Nodejs developer. Understanding the basic concept of OOPs and PHP. Learn MVC structure of PHP and MySQL database.</p>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <!-- <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="../../assets/images/Nodejs.png"/>
                        </a>
                    </div> -->
                  </div>

                </div>
            </div>
          </div>
      </div>
      
    </mat-card>
</div>